body {
    background-color: #51318b;
}

.card-group {
    width: 650px;
    height: auto;
    margin: 100px auto;
}

.card-box {
    margin: 24px auto;
    background-color: #fff;
}

.card-txt {
    list-style: none;
}

.card-txt li::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #a887e1;
}

